Debug/
Release/
assets/sounds/*.mp3
assets/sounds/Devastation's_Doorway_OC_ReMix.ogg
assets/sprites/enemies.png
assets/sprites/enemies_green_background.png
*.vcxproj
*.obj
*.tlog
ToDo.txt
*.user
SuperMario.vcxproj.filters
bugGoomba.png
Collisions.xlsx

bin
