*.vcxproj
*.obj
*.tlog
ToDo.txt
*.user
SuperMario.vcxproj.filters
Debug/
Release/
bugGoomba.png
*.xlsx
assets/sounds/Coin_Sound_Effect.mp3
*.mp3
assets/sounds/Devastation's_Doorway_OC_ReMix.ogg
assets/sprites/enemies_green_background.png
assets/sprites/enemies.png